# Node (Express Backend)
node_modules/
npm-debug.log
.env

# Python (Flask App)
_pycache_/
*.py[cod]
env/
venv/
*.env

# macOS system files
.DS_Store

# React (Frontend)
build/
dist/
.cache/
*.log

# VSCode config
.vscode/

# OS files
Thumbs.db

# Image generation output
server/image_data/output/

# Credentials
*.json
colore-service-account.json