# Node (Express Backend)
node_modules/
npm-debug.log
.env

# Python (Flask App)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# macOS system files
.DS_Store

# React (Frontend)
build/
dist/
.cache/
*.log

# VSCode
.vscode/

# OS files
Thumbs.db

# Image generation output
server/image_data/output/
